<form #loanDetailsForm="ngForm">
  <div class="form-group">
    <label for="loanAmount">Loan amount</label>
    <input type="number" required class="form-control" [(ngModel)]='loanDetails.loanAmount' id="loanAmount" name='loanAmount'
      aria-describedby="loanAmountHelp" #loanAmount='ngModel' placeholder="Enter loan amount" />
    <div [hidden]="loanAmount.valid || loanAmount.pristine" class="validation-error text-danger">
      Loan amount is required
    </div>
  </div>
  <div class="form-group">
    <label for="interest">Rate of interest per annum</label>
    <input type="number" required class="form-control" [(ngModel)]='loanDetails.interest' id="interest" name='interest' #interest='ngModel'
      placeholder="Enter interest per annum" />
    <div [hidden]="interest.valid || interest.pristine" class="validation-error text-danger">
      Interest is required
    </div>
  </div>
  <div class="form-group">
    <label for="nInstallments">Tenure in months</label>
    <input type="number" required class="form-control" [(ngModel)]='loanDetails.nInstallments' id="nInstallments" name='nInstallments'
      #nInstallments='ngModel' placeholder="Enter tenure in months" />
    <div [hidden]="nInstallments.valid || nInstallments.pristine" class="validation-error text-danger">
      Tenure is required
    </div>
  </div>
  <div class="form-group">
    <label for="emi">EMI</label>
    <input type="number" required class="form-control" [(ngModel)]='loanDetails.emi' id="emi" name='emi' #emi='ngModel' placeholder="EMI"
    />
    <div [hidden]="emi.valid || emi.pristine" class="validation-error text-danger">
      EMI is required
    </div>
  </div>
  <div class="button-container">
    <button type="submit" [disabled]='!loanDetailsForm.valid' (click)='onCalculateInstallments()' class="btn btn-success">Calculate Installments</button>
    <button type="submit" class="btn btn-danger" (click)='onResetForm()'>Reset</button>
  </div>
</form>