<div class='row'>
  <div class='col'>
  </div>
  <div class='col-md-8' *ngIf='loanDetails'>
    <h2>EMI Calculator</h2>
    <div class="row">
      <div class="col">
        <app-loan-details [loanDetails]='loanDetails'></app-loan-details>
      </div>
    </div>
    <div class="row sticky-top" *ngIf='loanDetails.installments'>
      <div class="col">
        <app-loan-summary [loanDetails]='loanDetails'></app-loan-summary>
      </div>
    </div>
    <div class="row" *ngIf='loanDetails.installments'>
      <div class="col">
        <app-loan-repayment-schedule [loanDetails]='loanDetails'></app-loan-repayment-schedule>
      </div>
    </div>
  </div>
  <div class='col'>
  </div>
</div>